body{
    position: relative;
    background-image: url(../img/pruebafondomenus.jpg);
    background-repeat: no-repeat;
    font-family: georgia,times,serif;
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 0;
}

marquee{
    font-size: 25px;
    background-color: #FFFFFF;
    padding: 0.8rem;
    font-family: 'Goldman', cursive;
    border-radius: 30px;
    margin: 1rem auto;
}

.container{
    width: 85%;
    max-width: 950px;
    margin: 0 auto;
    
}

.header{
    background-size: cover;
    background-attachment: fixed ;
    opacity: 95%;
    padding: 0rem 0;
    left: 0;
    top:0;
    right: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.logo-nav-container{
    display: flex;
    align-items: center;
    /*justify-content: space-between; (SI ACTIVAMOS ESTO EL MENU VUELVE AL LADO DERECHO)*/

}

.logo img {
    width: 60%;
    height: 60%;
    max-width: 250px;
    max-height: 250px;
}

.navigation ul {
    margin: 0px ;
    padding: 0;
    list-style: none;
    font-family: "Modak";
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    font-size:1.2rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.5s linear;
    border-radius: 5px;
    font-size: 35px;
}

.navigation ul li a:hover{
    background: grey;
}

.main .container img {
    width: 75% ;
    max-width: 450px;
    float:left    ;
    margin: auto 1.2rem;
     
}

.container{
    width: 85%;
    max-width: 950px;
    margin: 0 auto;
    
}

.footer {
    background-color: #FFFFFF;
    padding: 0.5rem 0;
    margin-top: 3rem ;
    text-align: center;
    background-position: bottom ;
    background-size: 100%;
    background-repeat: no-repeat;
    border-top: solid   white 5px;
}

.footer ul li {
    display: inline-block;

}

footer div ul li img{
    display: flex;
    width: 50px;
    height: 50px;
    margin: auto 5rem;
    content: ;

}


/*a partir de aquí MENUS*/

div.imagenes{
    display:flex;
    justify-content:space-around;
    margin:4.5rem auto;
    text-align: center; 
}    

div.imagenes img{
    border-radius: 70px;
    position: relative;
}

/*Esto hace que al ponerte encima de las imagenes se hacen más grandes*/
.main .imagenes img:hover {
    position: relative;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s;
    padding: 5%;
    margin:25;
}

.main .imagenes{
    display: flex;

}
.main .imagenes:hover{
    

}
