body{
    background-image: url(../img/posiblefondo.jpg);
    overflow: scroll;
    position: relative;
    font-family: georgia,times,serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 85%;
    max-width: 950px;
    margin: 0 auto;
    
}

.header{
    background-image: url(..\img/rec.png);
    opacity: 95%;
    padding: 0rem 0;
    left: 0;
    top:0;
    right: 0;
    
}

.header a {
    color: white;
    text-decoration: none;
}

.logo-nav-container{
    display: flex;
    align-items: center;
    /*justify-content: space-between; (SI ACTIVAMOS ESTO EL MENU VUELVE AL LADO DERECHO)*/

}

.logo img {
    width: 60%;
    height: 60%;
    max-width: 250px;
    max-height: 250px;
}

.navigation ul {
    margin: 0px ;
    padding: 0;
    list-style: none;
    font-family: 'Modak';
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    font-size:1.2rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.5s linear;
    border-radius: 5px;
    font-size: 35px;
}

.navigation ul li a:hover{
    background: grey;
}

main{
    display: block;
    margin: 10rem auto;
    text-align: center;
}


main.main{
   display: table;
   margin: 4rem 6rem;
}



.main .container img {
    width: 75% ;
    max-width: 450px;
    float:left    ;
    margin: auto 1.2rem;
     
}

.container{
    width: 85%;
    max-width: 950px;
    margin: 0 auto;
    
}

/*HAY QUE AÑADIRLO A TODOS LOS FOOTER  */
.footer {
    background-color: white;
    padding: 0.5rem 0;
<<<<<<< HEAD
    margin-top: 3   rem ;
    background-position: 0px 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: solid   white 5px;
=======
    margin-top: 3rem ;
    border-top: solid grey 5px;
}
.footer ul li:hover {
    text-decoration: underline;
>>>>>>> 6177e082ceaf3fecf4a976e7efae2bf9a9994bd9
}
.footer ul li {
    display: inline-block;
<<<<<<< HEAD
    text-align: center; /*HAY QUE AÑADIRLO A TODOS LOS FOOTER  */

=======
    text-align: center; 
    margin:auto 1rem
>>>>>>> 6177e082ceaf3fecf4a976e7efae2bf9a9994bd9
}

footer div ul li img{
    display: flex;
    width: 50px;
    height: 50px;
<<<<<<< HEAD
    margin: auto 5rem;
=======
    margin: auto 3.5rem;
>>>>>>> 6177e082ceaf3fecf4a976e7efae2bf9a9994bd9
}

/*A PARTIR DE AQUI CSS PARA LAS PÁGINAS DE CADA MENU Y SUS MENUS*/

table{
    margin-bottom: 6rem;
}

.main table td{
    border: 2px ;
    height: 580px;
    width:650px;
    color:white;
    font-family: 'Lobster';
    line-height: 2rem;
}
.main .tipos{
    background-image: url(../img/posiblelogo3recortao.jpg);
    background-attachment: fixed;
    font-family:'Architects Daughter';
    font-size: 30px;
    background-position: 200% 90%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50px;
    border: solid 15px #ffffff;
}

/**/
table h1{
    text-align: center;
    font-size: 69px;
    font-family: Architects Daughter, cursive;
    text-decoration: underline;
}

marquee{
    font-size: 25px;
    background-color: #FFFFFF;
    padding: 0.8rem;
    font-family: 'Goldman', cursive;
    border-radius: 30px;
    margin: 1rem auto;
}


